# Objektum fájlok
*.o
*.obj

# Fordítási output
*.out
*.app
*.exe

# Könyvtárak
*.a
*.so
*.dll
*.dylib

# Debug / symbol fájlok
*.dSYM/
*.su
*.idb
*.pdb

# CMake / build rendszerek
CMakeFiles/
CMakeCache.txt
cmake-build-*/
Makefile

# Egyéb build mappák
build/
bin/
out/

# IDE / editor
.vscode/
.idea/

db/src/.obj/
game/src/OBJDIR/